body {
    height: 100vh;
}

header .navbar{
    height: 70px;
    background-color: #2e3a46;
}

header .navbar img {
    height: 90%;
}

main {
    background-color: #1e2d3b;
    min-height: 100%;
    padding-bottom: 40px;
}

.card {
    background-color: #2e3a46!important;
    height: 400px;
}

.card img {
        width: 80%;
        margin-top: 10%;
}
.card-body {
    width: 100%;
}
.card-title {
color: white;
}

.card-text {
    color: lightgray;
}

    
